* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

body {

  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-board {
  background-image: url(../hangmans-img/game-background.jpg);
  background-position: center;
  background-size: cover;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;

}

#game-screen {
  margin-bottom: 20px;

}

#display {
  height: 100px;
  background-color: #9f8c8c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

#guesses {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#max-guesses {
  font-size: 18px;
  margin-bottom: 10px;
}

#letters {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100px;
  margin: 20px auto;
  gap: 5px;
  justify-content: center;

}

.letter {
  padding: 3px;
  margin: 2px;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  flex: 1 0 30%;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

#extra {
  display: flex;
  justify-content: space-between;
}

#restart {
  background-color: #bd1a1a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}